REACT_APP_FIREBASE_CONFIG = {"apiKey": "AIzaSyCUvVj4EB11uBN4TIckpPiCF1ZCmG", "authDomain": "project-frontandiya.firebaseapp.com", "projectId": "project-frontandiya", "storageBucket": "project-frontandiya.appspot.com", "messagingSenderId": "5994153666", "appId": "1:599415303666:web:7474d7dff96781db8f6b", "measurementId": "G-NHQP1VCLQ"}
